<?js
var self = this;
var data = obj;
?>

<?js if (data.augments && data.augments.length) { ?>
  <ul>
  <?js data.augments.forEach(function(a) { ?>
    <li>Extends: <?js= self.linkto(a, self.htmlsafe('<' + a + '>')) ?></li>
  <?js }); ?>
  </ul>
<?js } ?>
