<?js
    var self = this;
    var isGlobalPage;

    docs.forEach(function(doc, i) {
?>

<section>
  <header>
<?js if (!doc.longname || doc.kind !== 'module') { ?>
    <h2><?js= doc.name ?></h2>
<?js } ?>
<?js if (doc.classdesc) { ?>
    <div class="class-description"><?js= doc.classdesc ?></div>
<?js } ?>
  </header>

  <article>
    <div class="container-overview">
    
<?js if (doc.kind === 'module' && doc.modules) { ?>
  
<?js } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
      <?js= self.partial('method.tmpl', doc) ?>
<?js } else { ?>
  
  
<?js } ?>
    
    
    </div>
  </article>

</section>

<?js }); ?>
