<?js
  var self = this;
  var isGlobalPage;

  docs.forEach(function(doc, i) {
?>

<?js
  // we only need to check this once
  if (typeof isGlobalPage === 'undefined') {
    isGlobalPage = (doc.kind === 'globalobj');
  }
?>
<?js if (doc.kind === 'mainpage' || (doc.kind === 'package')) { ?>
  <?js= self.partial('mainpage.tmpl', doc) ?>
<?js } else if (doc.kind === 'source') { ?>
  <?js= self.partial('source.tmpl', doc) ?>
<?js } else { ?>

<section>
  <header>
<?js if (!doc.longname || doc.kind !== 'module') { ?>
    <h2><?js= doc.name ?></h2>
<?js } ?>
<?js if (doc.classdesc) { ?>
    <div class="class-description"><?js= doc.classdesc ?></div>
<?js } ?>
  </header>

  <article>
    <div class="container-overview">
    
<?js if (doc.kind === 'module' && doc.modules) { ?>
  
<?js } else if (doc.kind === 'class' || (doc.kind === 'namespace' && doc.signature)) { ?>
      <?js= self.partial('method.tmpl', doc) ?>
<?js } else { ?>
  
  
<?js } ?>
    
    
    </div>
  </article>

</section>

<?js } ?>

<?js }); ?>
