<?js
var self = this;
var data = obj;

data.forEach(function(example) {
?>
  <pre><code><?js= self.htmlsafe(example.code) ?></code></pre>
<?js if (example.caption) { ?>
  <i><?js= example.caption ?></i>
<?js } ?>
<?js
});
?>
