<?js
var data = obj;
var self = this;
?>

<?js if (data.kind !== 'module' && !data.hideconstructor) { ?>
<?js if (data.kind === 'class' && data.classdesc) { ?>
    <h2>Constructor</h2>
<?js } ?>

<?js if (data.kind !== 'namespace') { ?>
    <h4 class="name" id="<?js= id ?>"><?js= data.attribs + (kind === 'class' ? 'new ' : '') +
    name + (data.signature || '') ?></h4>
<?js } ?>

<?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
<?js } ?>

<?js } ?>
